@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center mt-5">
    <h2>Payment Successful</h2>
    <p>Rooms are booked.</p>
    <a class="btn btn-primary mt-3" href="@Url.Action("ClearSessionAndRedirect", "Home")">Go Home</a>
</div>

