<div class="faqs">
    <div class="container mt-4">


        <div class="timing">
            <h3>Timings</h3>
            <div class="d-flex justify-content-between gap-3">
                <div class="info-box">
                    <i class="fas fa-sign-in-alt"></i>
                    <div class="info-text">
                        <span>Check In</span>
                        <strong>2 PM</strong>
                    </div>
                </div>

                <div class="info-box">
                    <i class="fas fa-sign-out-alt"></i>
                    <div class="info-text">
                        <span>Check Out</span>
                        <strong>11 AM</strong>
                    </div>
                </div>

                <div class="info-box">
                    <i class="fas fa-users"></i>
                    <div class="info-text">
                        <span>Guest Visit</span>
                        <strong>9 AM - 9 PM</strong>
                    </div>
                </div>

                <div class="info-box">
                    <i class="fas fa-coffee"></i>
                    <div class="info-text">
                        <span>Cafe</span>
                        <strong>9 AM - 3 PM & 6 PM - 11 PM</strong>
                    </div>
                </div>

                <div class="info-box">
                    <i class="fas fa-bell"></i>
                    <div class="info-text">
                        <span>Reception</span>
                        <strong>24 Hours</strong>
                    </div>
                </div>

                <div class="info-box">
                    <i class="fas fa-couch"></i>
                    <div class="info-text">
                        <span>Common Area</span>
                        <strong>24 Hours</strong>
                    </div>
                </div>
            </div>

        </div>
        <h3>Faqs</h3>
        <div class="accordion mt-3" id="faqAccordion">

            <!-- FAQ 1 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1">
                        What is the location of The Hosteller Amritsar?
                    </button>
                </h2>
                <div id="faq1" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        The Hosteller Amritsar is located on City Centre, 91 - 92, Phoola Singh Burj, Ram Talai Chowk, near Guru Nanak Bhawan, Amritsar, Punjab 143001.
                    </div>
                </div>
            </div>

            <!-- FAQ 2 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2">
                        Which is the nearest railway station?
                    </button>
                </h2>
                <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Amritsar enjoys easy accessibility from all major destinations in India via express and superfast trains. Amritsar Junction (ASR) railway station is the gateway for trains entering the city. Major train stations in the city are Amritsar Junction (ASR), Verka Junction (VKA), Mananwala (MOW), Tangra (TRA). Travellers can easily find cabs and auto-rickshaws to the hostel from outside the station.
                    </div>
                </div>
            </div>

            <!-- FAQ 3 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3">
                        Which is the nearest airport?
                    </button>
                </h2>
                <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Travellers can easily reach Amritsar via a flight as the city has its own airport – Sri Guru Ram Dass Jee International Airport (approx. 11 km from the city centre). The international airport serves as the gateway to both domestic and international flights. Hostel is 10 km from the airport and can be reached via bus or cab.
                    </div>
                </div>
            </div>

            <!-- FAQ 4 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4">
                        What is the best time to visit Amritsar?
                    </button>
                </h2>
                <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Amritsar, you can choose to go in October, November, December, January, February, and March, which is the peak season, and July, August, and September, which is the moderate season.
                    </div>
                </div>
            </div>

            <!-- FAQ 5 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5">
                        Does The Hosteller Amritsar have a cafe?
                    </button>
                </h2>
                <div id="faq5" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Yes, we do have an in-house cafe in The Hosteller Amritsar.
                    </div>
                </div>
            </div>

            <!-- FAQ 6 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6">
                        Is the hostel pet friendly?
                    </button>
                </h2>
                <div id="faq6" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Yes, the hostel is pet friendly. However, pets are allowed in private rooms only. Not in the dorms.
                    </div>
                </div>
            </div>

            <!-- FAQ 7 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq7">
                        Do the rooms have attached washrooms?
                    </button>
                </h2>
                <div id="faq7" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Yes, all private rooms and dorms have attached washrooms.
                    </div>
                </div>
            </div>

            <!-- FAQ 8 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq8">
                        Is power backup available in your property?
                    </button>
                </h2>
                <div id="faq8" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Yes, power backup is available.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>