@model CRS.Infrastructure.ViewModels.Summary.SummaryViewModelNew
<style>
    .service-details p {
        margin: 0;
    }

    .service-details {
        display: flex;
        justify-content: space-between;
    }

    .amount {
        font-weight: 700;
        color: #000;
    }
</style>
<h2 class="mb-3">Summary</h2>
<div class="booking-container">
    <div class="header">
        <div class="text-start">
            CHECK IN <br />
            <span class="date">@Model?.CheckInDate?.ToString("dd MMM, yyyy")</span>
        </div>
        <div class="nights">@Model?.NoOfNights Night</div>
        <div class="text-end">
            CHECK OUT <br />
            <span class="date">@Model?.CheckOutDate?.ToString("dd MMM, yyyy")</span>
        </div>
    </div>

    @{

        decimal totalRoomCharges = 0;
        decimal totalServiceCharges = 0;
        decimal taxRate = 0.05m;
        if (Model != null && Model.RoomSelectionList != null)
        {
            foreach (var item in Model.RoomSelectionList)
            {
                if (item.RoomDetails != null)
                {
                    decimal pricePerNight = item?.RoomDetails?.Price ?? 0;
                    int nights = Model.NoOfNights ?? 1;
                    int quantity = 1;

                    decimal roomTotal = pricePerNight * nights * quantity;
                    totalRoomCharges += roomTotal;


                    <div class="room-title">@item?.RoomDetails?.RoomTypeName</div>
                    <div class="price-details">
                        $@pricePerNight /Night x @quantity room(s) x @nights night(s)
                        <span class="amount">$@roomTotal.ToString("0.00")</span>
                    </div>
                    <p><strong>Guest:</strong> @item?.Adults Adult(s), @item?.Children Children(s)</p>

                    @if (item.SelectedServices != null && item.SelectedServices.Any())
                    {
                        <div class="service-section">
                            <h5>Addons</h5>
                            @foreach (var service in item.SelectedServices)
                            {
                                totalServiceCharges += service.Price;
                                <div class="service-details">
                                    <p>@service.Service</p>
                                    <span class="amount">$@service.Price.ToString("0.00")</span>
                                </div>
                            }
                        </div>
                    }
                    <hr />
                }
            }
        }


        var tax = (totalRoomCharges + totalServiceCharges) * taxRate;
        var grandTotal = totalRoomCharges + totalServiceCharges + tax;

        <div class="price-details">
            Total Room Charges <span class="amount">$@totalRoomCharges.ToString("0.00")</span>
        </div>
        @if (totalServiceCharges > 0)
        {
            <div class="price-details">
                Total Service Charges <span class="amount">$@totalServiceCharges.ToString("0.00")</span>
            </div>
        }
        <div class="price-details">
            Total Taxes <span class="amount">$@tax.ToString("0.00")</span>
        </div>

        <hr />

        <div class="total">
            Total Price <span class="amount">$@grandTotal.ToString("0.00")</span>
        </div>


    }

    <a href="#" onclick="submitPaxDataAjax()" class="button">Review booking</a>
</div>
