<div class="mt-4 colmns why-love-section">
    <h4 class="section-title">Why You'll Love It Here</h4>
    <div class="container mt-4">
        <div class="row g-3">
            <div class="col-md-3">
                <div class="feature-card">
                    <div class="iconArea">
                        <div class="feature-icon">
                            <img src="https://cdn-icons-png.flaticon.com/128/1046/1046757.png" alt="Food">
                        </div>
                        <h5>Culinary Delights</h5>
                    </div>
                    <div class="feature-content">
                        <p>Hudson is a paradise for food lovers, offering farm-to-table restaurants, artisanal bakeries, and seasonal menus crafted by top chefs.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="feature-card">
                    <div class="iconArea">
                        <div class="feature-icon">
                            <img src="https://cdn-icons-png.flaticon.com/128/684/684908.png" alt="Historic Charm">
                        </div>
                        <h5>Historic Charm</h5>
                    </div>
                    <div class="feature-content">
                        <p>Surrounded by stunning 19th-century architecture, art galleries, and antique shops, the hotel places you in the heart of culture and history.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="feature-card">
                    <div class="iconArea">
                        <div class="feature-icon">
                            <img src="https://cdn-icons-png.flaticon.com/128/684/684809.png" alt="Prime Location">
                        </div>
                        <h5>Prime Location</h5>
                    </div>
                    <div class="feature-content">
                        <p>Just steps from Warren Street’s boutiques and cafés, and minutes from the Amtrak station and Hudson River waterfront.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="feature-card">
                    <div class="iconArea">
                        <div class="feature-icon">
                            <img src="https://cdn-icons-png.flaticon.com/128/2995/2995464.png" alt="Local Activities">
                        </div>
                        <h5>Local Activities</h5>
                    </div>
                    <div class="feature-content">
                        <p>From live music and art festivals to scenic river cruises and hiking, experience Hudson’s creative spirit and natural beauty.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
