<div class="mt-4 colmns">
    <h4>Why You'll Love It Here</h4>
    <div class="container mt-4">
        <div class="row g-3">

            <div class="col-md-3">
                <div class="feature-card">
                    <div class="iconArea">
                        <div class="feature-icon">
                            <img src="https://cdn-icons-png.flaticon.com/128/1046/1046757.png" alt="Food">
                        </div>
                        <h5>Food heaven</h5>
                    </div>
                    <div class="feature-content">

                        <p>Amritsar is a haven for foodies and each nook and cranny is filled with generational eateries serving up lassi, kebabs, chole-kulche, various desserts and baked goods.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="feature-card">
                    <div class="iconArea">
                        <div class="feature-icon">
                            <img src="https://cdn-icons-png.flaticon.com/128/684/684908.png" alt="Border">
                        </div>
                        <h5>Wagah Border</h5>
                    </div>
                    <div class="feature-content">

                        <p>A once in a lifetime experience, the daily border ceremonies in Wagah are visually stunning and reason enough to come stay in this culturally rich city.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="feature-card">
                    <div class="iconArea">
                        <div class="feature-icon">
                            <img src="https://cdn-icons-png.flaticon.com/128/684/684809.png" alt="Location">
                        </div>
                        <h5>Prime location</h5>
                    </div>
                    <div class="feature-content">
                        <p>Nestled near famous attractions like the Golden Temple, Jallianwala Bagh, and several eateries - the hostel is placed perfectly for all your sightseeing needs.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="feature-card">
                    <div class="iconArea">
                        <div class="feature-icon">
                            <img src="https://cdn-icons-png.flaticon.com/128/2995/2995464.png" alt="Activities">
                        </div>
                        <h5>Local activities</h5>
                    </div>
                    <div class="feature-content">

                        <p>Select from an array of local activities, day tours, night events, and sightseeing tours to enjoy the heritage, culture, cuisine, and local vibe of the city.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>